@import "macchiato.css";

* {
  font-family: Jetbrains Mono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

tooltip {
  border-radius: 0.5rem;
  background-color: @surface0;
  border-color: @green;
}

tooltip label {
  font-size: 15px;
  color: @text;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @green;
  border-radius: 1rem;
}

/* all modules except for workspaces */
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#network,

#mpris,

#pulseaudio,
#bluetooth,
#backlight,
#battery,
#clock,

#tray,

#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
}

/* left-most modules */
#cpu, #pulseaudio, #custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

/* right-most modules */
#network, #clock, #tray, #custom-power {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#cpu {
  color: @blue;
}

#memory {
  color: @peach;
}

#temperature {
  color: @pink;
}

#temperature.warning {
  color: @yellow;
}

#temperature.critical {
  color: @red;
}

#power-profiles-daemon.performance {
  color: @blue;
}

#power-profiles-daemon.balanced {
  color: @rosewater;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#network {
  color: @teal;
}

#mpris {
  color: @mauve;
  border-radius: 1rem;
}

#pulseaudio {
  color: @maroon;
}

#bluetooth {
  color: @sapphire;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
}

#tray {
  border-radius: 1rem;
}

/* #custom-lock {
  color: @lavender;
}

#custom-power {
  color: @red;
} */
